@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|PT+Sans&display=swap');

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Set variables */
:root {
    --serif-font: 'Bebas Neue', cursive;
    --sans-font: 'PT Sans', sans-serif;

    /*used*/
    --dark2: #212529;
    --light1: #eaecff;
    --light2: #e7e9ff;
    --underline-dark: #3d2d2b;

    /*unused*/
    --dark1: #343A40;
    --blue: #80BFFF;
    --underline: #d9bba6;

}

/*Tags*/

html {
    background-color: var(--dark2);
    height: 100%;
    font-size: 1.2em;
}

h1, h2, h3, h4 {
    font-family: var(--serif-font) !important;
    margin-bottom: 0.8em !important;
    letter-spacing: 0.03em;
    font-weight: bold !important;
}

lead {
    display: block;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    margin-bottom: 2em !important;
}

p{
    margin: 1em 0em;
}

strong {
    color: var(--underline);
}

/*Classes*/

.jumbotron strong {
    color: var(--underline-dark);
}

.canvas {
    background-color: var(--dark2);
    height: 100%;
    color: var(--light1);
    line-height: 1.5;
    font-family: var(--sans-font) !important;
    letter-spacing: 0.4px;
}

.navbar {
    margin-bottom: 2em;
}

.nav-item {
    margin: 0 1.2em;
}

.jumbotron {
    color: black;
    background-color: var(--light2) !important;
}

.welcome-header h1 {
    margin-bottom: 0.2em !important;
}

.messages {
    color: var(--underline);
}

.zigu-logo {
    width: 6rem;
}

.text {
    margin: 0 2em;
    /*width: 80% !important;*/
}

.big-bottom-margin {
    margin-bottom: 4em;
}

.medium-bottom-margin {
    margin-bottom: 2em;
}

.small-bottom-margin {
    margin-bottom: 1em;
}

.footer {
    background-color: var(--dark1);
    margin-bottom: 0;
}

.footer p {
    margin-bottom: 0;
    padding-bottom: 4em;
    padding-top: 2em;
}

.input {
    width: 100%;
    max-width: 300px;
}

.user-box {
    display: flex;
    flex-direction: row;

}

.user-pic-box {
    width: 50%;
}

.initiation-btn-box {
    margin: 0 auto;
}

.god-box {
    display: flex;
    flex-direction: row;
}

.god-pic-box {
    width: 40%;
}

.god-info-box {
    width: 60%
}

.followers-list {
    display: flex;
    flex-direction: row;
    color: var(--underline-dark);
    flex-wrap: wrap;
}

.followers-list-item {
    margin-right: 1em;
}

.follower-pic {
    width: 35px;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
}

.footer-box {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: 0.8em;
    margin-right: 2em;
}

.git-link {
    text-decoration: none;
    color: var(--underline);
}
.git-link:hover {
    text-decoration: none;
    color: var(--light1);
}

.profile-pic {
    height: auto;
    width: 100%;
    max-width: 300px;
    margin-right: 2em;
}




/*Media queries*/
@media only screen and (max-width: 991px) {
    .user-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .user-pic-box {
        margin-bottom: 2em;
    }

    .god-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .god-pic-box {
    width: 100%;
    }

    .god-info-box {
    width: 100%
    }

    .follow-btn {
        margin-bottom: 2em;
    }

    .jumbotron .text {
        margin: 0em 0.5em;
    }

    .navbar {
        width: 100vw;
    }

    .container.wrapper {
        padding: 0 !important;
    }

    .profile-pic {
        /*height: auto;*/
        /*width: auto;*/
        max-width: 200px;
        /*max-height: 250px;*/
        margin-bottom: 2em;
    }
}

