<!DOCTYPE html>

{% extends "subscribe/base.html" %}
{% load crispy_forms_tags %}




{% block body_block %}

    <h1>Stwórz bóstwo</h1>
    <div class="medium-bottom-margin">
        {% if gods_cap >= 2 %}
            <p>Możesz stworzyć jeszcze {{ gods_cap }} bóstwa</p>
        {% endif %}
        {% if gods_cap == 1 %}
            <p>Możesz stworzyć jeszcze {{ gods_cap }} bóstwo. Zastanów się dobrze.</p>
        {% endif %}
        {% if gods_cap == 0 %}
            <p>Twój limit został wykorzystany. Jeśli nadal chcesz się bawić, skontaktuj się z architektem.</p>
        {% endif %}
    </div>

    <div class="jumbotron">
        {% if gods_cap > 0 %}
            {#Enctype attribute is for picture upload to work#}
            <form enctype="multipart/form-data" method="POST">

                {% csrf_token %}
                <div class="medium-bottom-margin">
                {{ god_form|crispy }}
                </div>
                <input type="submit" value="Stwórz" class="btn btn-outline-dark">

            </form>
        {% endif %}

    </div>

{% endblock %}