<!DOCTYPE html>
{% extends "subscribe/base.html" %}

{% block body_block %}

    <h1>Panteon</h1>
    <p>Tu możesz przeglądnąć wszystkie bóstwa z naszej świątyni i zdecydować czy chcesz zostać ich wyznawcą.</p>
    <p>Możesz zostać czcicielem maksymalnie dwóch bóstw poza tym, które uzyskałeś w ramach rytuału inicjacji.</p>


    {% for god in gods %}
        <div class="jumbotron">

            <h2>{{ god.name }}</h2>
            <img src="{{ god.profile_pic.url }}" alt=""></td>

            <h4>Opis:</h4>
            <p>{{ god.god_description }}</p>

            <h4>Błogosławieństwo:</h4>
            <h5>{{ god.blessing_name }}</h5>
            <p>{{ god.blessing_description }}</p>

            <h4>Statystyki:</h4>
            <p>Sacrum: {{ god.sacrum }}</p>
            <p>Kształtowanie: {{ god.shaping }}</p>
            <p>Wir: {{ god.vortex }}</p>

            {% if god.followers.count == 0 %}
                <h4>Wyznawcy</h4>
                <p>Brak</p>
            {% else %}
                {% for follower in god.followers.all %}
                    <h4>Wyznawcy</h4>
                    <p>{{ follower }}</p>
                {% endfor %}
            {% endif %}

            {% if gods_cap > 0 %}
                {% if god.name not in gods_excluded %}
                    <form action="{% url "panteon" %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="god_name" value="{{ god.name }}">
                        <input type="submit" value="Zostań wyznawcą">
                    </form>
                {% endif %}
            {% endif %}
        </div>
    {% endfor %}


{% endblock %}