<!DOCTYPE html>

{% extends "subscribe/base.html" %}




{% block body_block %}

    {% if messages %}
            {% for message in messages %}
                <p class="messages">{{ message }}</p>
            {% endfor %}
    {% endif %}

    <div class="medium-bottom-margin">
    <h1>{{ user.username }}</h1>

    {% if user.userprofileinfo.gods_associated == 0 %}
        <p>Witaj w Świątyni. Tutaj możesz przejść przez rytuał inicjacji, by stać się naczyniem dla bóstw naszego Panteonu.
        Jeśli czujesz się na siłach, kliknij <strong>Inicjacja</strong>, a spłynie na ciebie Światło.
        Klikając w zdjęcie profilowe, możesz dokonać zmian w swoim koncie.</p>
    {% else %}
        <p>Witaj w Świątyni. Każdy ma w sobie miejsce na więcej niż jednego boga. Kliknij <strong>Panteon</strong>, by
            nawiązać kontakt z innymi duchami. Możesz dać narodziny nowemu bogu klikając w <strong>Ołtarz</strong>.
            Klikając w zdjęcie profilowe, możesz dokonać zmian w swoim koncie.</p>
    {% endif %}
    </div>

    <div class="user-box big-bottom-margin">

        <div class="user-pic-box">

            <a href="{% url 'profile_update' %}">
                <img src="{{user.userprofileinfo.profile_pic.url}}" class="profile-pic">
            </a>

        </div>

        <div>

            <div class="user-stats-box big-bottom-margin">
                    <p>Ilu bogów możesz jeszcze ze sobą powiązać: <strong>{{ follow_cap }}</strong></p>
                    <p>Ilu bogów możesz jeszcze stworzyć: <strong>{{ creation_cap }}</strong></p>
            </div>


            {% if user.userprofileinfo.gods_associated == 0 %}
                <div class="big-bottom-margin">
                    <p>Nie masz jeszcze żadnych bóstw opiekuńczych. Kliknij <strong>Inicjacja</strong>, by spotkać się
                        z wysłannikiem panteonu.</p>
                </div>


                <form action="{% url "userpage" %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="Inicjacja" class="btn btn-outline-light">
                </form>



            {% else %}


                <p><a href="{% url 'creategod' %}" class="btn btn-outline-light">Ołtarz</a></p>
                <p><a href="{% url 'panteon' %}" class="btn btn-outline-light">Panteon</a></p>


            {% endif %}

            </div>

        </div>

    </div>


    {% if user.userprofileinfo.gods_associated > 0 %}

        <div class="container">
            <h4>Naczynie wypełnia się darami.</h4>
        </div>

        {% for god in user.god_set.all %}
            <div class="container">
                <div class="jumbotron">
                    <div class="god-box">

                        <div class="god-pic-box">
                            <h2>{{ god.name }}</h2>
                            <img src="{{ god.profile_pic.url }}" class="profile-pic" alt="">
                        </div>

                        <div class="god-info-box">
                            <div class="medium-bottom-margin">
                                <h4>Opis:</h4>
                                <p>{{ god.god_description }}</p>
                            </div>

                            <div class="big-bottom-margin">
                                <h4>Błogosławieństwo:</h4>
                                <h5>{{ god.blessing_name }}</h5>
                                <p>{{ god.blessing_description }}</p>
                            </div>

                            <h4>Statystyki:</h4>
                            <p>Sacrum: <strong>{{ god.sacrum }}</strong></p>
                            <p>Kształtowanie: <strong>{{ god.shaping }}</strong></p>
                            <p>Wir: <strong>{{ god.vortex }}</strong></p>
                        </div>
                    </div>
                </div>
            </div>


        {% endfor %}

    {%  endif %}

{% endblock %}