<!DOCTYPE html>

{% extends "subscribe/base.html" %}

{% load crispy_forms_tags %}


{% block body_block %}

    {% if messages %}
            {% for message in messages %}
                <p class="messages">{{ message }}</p>
            {% endfor %}
    {% endif %}

    <div class="jumbotron">

        <h1>Ekran logowania</h1>

        {#Acton attribute is to link the form with view backend#}
        <form method="POST" action="{% url "login" %}">
            {% csrf_token %}

             <div class="form-group">
                <label for="username">Login:</label>
                <input type="text" name="username" placeholder="Wpisz nazwę żytkownika" class="input">
             </div>

            <div class="medium-bottom-margin">
            <div class="form-group">
                <label for="password">Hasło:</label>
                <input type="password" name="password" class="input">
            </div>
            </div>

            <input type="submit" class="btn btn-outline-dark" value="Zaloguj">

        </form>

    </div>

{% endblock %}